.product-card {
    transition: transform 0.3s;
    background-color: #282828;
    color: aliceblue;
    padding: 5px;
    width: auto;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(15, 15, 15, 0.1);
    margin-bottom: 20px;
}

.product-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card-image {
    height: 150px;
    object-fit: cover;
}

.card-details {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.product-card:hover .card-details {
    display: flex;
}

.price {
    /* font-weight: bold; */
    margin-top: 10px;
}

.original-price {
    margin-top: 5px;
    text-decoration: line-through;
    color: #ff6b6b;
    /* line-height: 0; */
}

.percent {
    font-weight: bold;
    font-size: large;
    color: green;
}

.details {
    margin-top: 10px;
}

.expanded {
    height: auto;
    z-index: 10;
}